/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/

.container-image-table {
    width: 9em;
    height: 9em;
    overflow: hidden;
}

.image-table {
    width: 100%;
    height: 100%;
    object-fit: cover;
}